.category-main-container {
  background: rgba(24, 24, 24, 1);
  height: 100%;
  display: flex;
  flex-direction: row;
}
.category-name {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
  line-height: 31.39px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
@media screen and (max-width: 768px) {
  .category-main-container {
    display: flex;
    flex-direction: column;
  }
}
